.navbar {
  // height: 40px;
  // padding: 1.25rem 1.875rem;
  // display: flex;
  // justify-content: space-between;
  // align-items: center;
  // z-index: 100;
  // background-color: white;
  // // position:fixed;
  // width: calc(100vw - 2*(1.875rem));
  // transition-duration: .2s;
  // flex:1;
  &.fixed {
    box-shadow: 0 0 6px 1px rgba(0,0,0, .12);
    padding: .275rem 1.875rem;
  }
}

.navbar > * {
  z-index: 100;
}

.navbar-logo {
  color: var(--main-blue);
  margin: 0;
  font-family: var(--font-lato);
  font-size: 1.625rem;
  text-decoration: none;
  font-weight: 700;
}

.nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar-link a {
  color: var(--light-grey);
  font-family: var(--font-lato);
  padding: 0 1.375rem;
  text-decoration: none;
  &:hover {
    color: var(--lighter-grey)
  }
}